body{
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align: center;


}
.image{
	background-image: url(photos/IMG-20211102-WA0002.jpg);
    background-size: cover;
    text-align: center;
    height: 500px;
}
 nav{
 	text-align: center;
	display: inline-block;
	width: 100%;
	height: 35px;
}

a{
	color: black;
	text-align: center;
	list-style-type: none;
	padding: 30px;
	margin: 0px;
	width: 4%;
	text-decoration: none;
	
}

 nav div{
	background-position: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 0px;
	height: 30%;

}
.image img{ 
    border-radius: 30px;
    height: auto;
    width: 15%;
    margin: auto;
    margin-top: 50px;

}

h1{
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	width: 35%;
    height:auto;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
}

.image p{
	color: white;
	font-size: 25px;
}

#part2{
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 0px;
}

.section2{
	width: 25%;
	height: auto;
	padding: 0px;
}

#part2 .fas{
	font-size: 2em;
	border: solid 2px green;
	border-radius: 200px;
	padding: 30px;
}
#part2 .img{
	padding-top: 15px;
}



#part3{
	background-color: silver;
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 0px;
}

.section3{
	width: 100%;
	height: auto;
	padding: 0px;
	margin: auto;
}

#part3 .bak{
	font-size: 20px;
	padding: 30px;
}


#part4{
	display: flex;
	flex-wrap: wrap;
	height: auto;
	padding: 0px;
	margin: 0px;
}

.section4{
	width: 300px;
	margin: auto;

}
.section4 img{
	width: 200px;

}

#wordpress{
	background-color: skyblue;
	width: 380px;
	height: 300px;
}

#htmlcss{
	background-color: darkcyan;
	width: 380px;
	height: 300px;
}

#canva{
	background-color: grey;
	width: 380px;
	height: 300px;
}

#jv{
	background-color: slategray;
	width: 380px;
	height: 300px;
}

#java{
	background-color: dimgray;
	width: 380px;
	height: 300px;
}

#inkscape{
	background-color: cadetblue;
	width: 380px;
	height: 300px;
}

#ae{
	background-color: steelblue;
	width: 380px;
	height: 300px;
}

#python{
	background-color: lightsteelblue;
	width: 380px;
	height: 300px;
}




#part5{
	width: 100%;
	height: auto;
	padding: 0px;
	padding-bottom: 20px;
	margin: auto;
}

.section5{
	display: flex;
	justify-content: space-around;

}

.sec{
	width: 50%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.texte{
	width: 80%;
	display: flex;
	justify-content:space-between;
	margin: auto;
}

.contenu{
	width: 80%;
	border: solid 0px;
	border-radius: 100px;
	height: 20px;
	background-color: grey;
	margin: auto;
}

#pratique{
	border: solid 0px;
	border-radius: 100px;
	height: 20px;
	width: 100%;
	background-color: palegreen;
}
#insere{
	border: solid 0px;
	border-radius: 100px;
	height: 20px;
	width: 80%;
	background-color: palegreen;
}
#oppo{
	border: solid 0px;
	border-radius: 100px;
	height: 20px;
	width: 90%;
	background-color: palegreen;
}
#nul{
	border: solid 0px;
	border-radius: 100px;
	height: 20px;
	width: 70%;
	background-color: palegreen;
}
#part6{
	background-color: palegreen;
	color: white;
	justify-content: center;
	width: 100%;
	height: 450px;
}

.section6{
	display: flex;
	width: 80%;
	justify-content: space-around;
	padding: 80px;
}

.pimg{
	justify-content: center;
	display: flex;
	margin: auto;
}

#jane img{
	background-color: rosybrown;
	width: 190px;
}

#jacob img{
	background-color: lightcoral;
	width: 190px;
}

#leslie img{
	background-color: lightcyan;
	width: 190px;
}

#brooklyn img{
	background-color: burlywood;
	width: 190px;
}

.pimg p{
	text-align: center;
	color: black;
	border: solid white;
	background-color: white;
	height: 35px;
	padding: 0px;

}

#part7{
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 0px;
	margin: auto;
}

.section7{
    width: 100%;
	padding: 100px;

}

.bimg{
	border: 0px;
	height: 60%;
}
.btext{
	height: 30%
}

#part8{
	justify-content: center;
	width: 100%;
	height: auto;
	background-color: gainsboro;
}

.section8{
	display: flex;
	justify-content: space-around;
	height: auto;
	padding: 100px;
	margin: auto;
}